<div class="container is-max-desktop has-text-centered" @animate>

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child">
        <p class="title">You want ...</p>
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child notification is-primary is-light">
        <span class="icon">
          <i class="fas fa-xl fa-fw fa-utensils"></i>
        </span>
        <p class="heading">Amount</p>
        <p class="title">{{settings?.amount}}</p>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child notification is-primary is-light">
        <span class="icon">
          <i class="fas fa-xl fa-fw fa-up-right-and-down-left-from-center"></i>
        </span>
        <p class="heading">Size</p>
        <p class="title">{{settings?.size}} cm</p>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child notification is-primary is-light">
        <span class="icon">
          <i class="fas fa-xl fa-fw fa-droplet"></i>
        </span>
        <p class="heading">Hydration</p>
        <p class="title">{{settings?.hydration}} %</p>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child notification is-primary is-light">
        <span class="icon">
          <i class="fas fa-xl fa-fw fa-clock"></i>
        </span>
        <p class="heading">Time</p>
        <p class="title">{{settings?.time}} h</p>
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child">
        <p class="title">You need ...</p>
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child notification is-primary is-light">
        <span class="icon">
          <i class="fas fa-xl fa-fw fa-wheat-awn"></i>
        </span>
        <p class="heading">Flour</p>
        <p class="title">{{recipe?.flour}} g</p>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child notification is-primary is-light">
        <span class="icon">
          <i class="fas fa-xl fa-fw fa-glass-water"></i>
        </span>
        <p class="heading">Water</p>
        <p class="title">{{recipe?.water}} g</p>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child notification is-primary is-light">
        <span class="icon">
          <i class="fas fa-xl fa-fw fa-cubes-stacked"></i>
        </span>
        <p class="heading">Salt</p>
        <p class="title">{{recipe?.salt}} g</p>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child notification is-primary is-light">
        <span class="icon">
          <i class="fas fa-xl fa-fw fa-disease"></i>
        </span>
        <p class="heading">Yeast</p>
        <p class="title">{{recipe?.yeast}} g</p>
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child">
        <button (click)="onBack()" class="button is-primary is-medium">
          <span class="icon">
            <i class="fas fa-fw fa-chevron-left"></i>
          </span>
          <strong>Go back</strong>
        </button>
      </div>
    </div>
  </div>
</div>
