<div class="container is-max-desktop" @animate>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div class="field">
      <label class="label">{{'amount' | transloco}}</label>
      <div class="control has-icons-right">
        <input class="input is-primary is-medium" formControlName="amount" inputMode="decimal" min="1" placeholder="0" step="1" type="number">
        <span class="icon is-right has-text-primary">
          <i class="fas fa-fw fa-utensils"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">{{'shape' | transloco}}</label>
      <div class="buttons has-addons">
        <label [class.is-light]="form.disabled" [class.is-primary]="form.value['shape'] === 'round'" class="button is-medium is-expanded">
          <input class="radio" formControlName="shape" type="radio" value="round">
          <span>{{'round' | transloco}}</span>
        </label>
        <label [class.is-light]="form.disabled" [class.is-primary]="form.value['shape'] === 'square'" class="button is-medium is-expanded">
          <input class="radio" formControlName="shape" type="radio" value="square">
          <span>{{'square'  | transloco}}</span>
        </label>
      </div>
    </div>

    <div class="field">
      <label class="label">{{'size' | transloco}} (cm)</label>
      <div class="control has-icons-right">
        <input class="input is-primary is-medium" formControlName="size" inputMode="decimal" max="35" min="8" placeholder="0" step="1" type="number">
        <span class="icon is-right has-text-primary">
          <i class="fas fa-fw fa-up-right-and-down-left-from-center"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">{{'hydration' | transloco}} (%)</label>
      <div class="control has-icons-right">
        <input class="input is-primary is-medium" formControlName="hydration" inputMode="decimal" max="100" min="50" placeholder="0" step="1" type="number">
        <span class="icon is-right has-text-primary">
          <i class="fas fa-fw fa-droplet"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">{{'rise' | transloco}} (h)</label>
      <div class="control has-icons-right">
        <input class="input is-primary is-medium" formControlName="rise" inputMode="decimal" max="48" min="1" placeholder="0" step="1" type="number">
        <span class="icon is-right has-text-primary">
          <i class="fas fa-fw fa-clock"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">&nbsp;</label>
      <div class="control">
        <button [class.is-loading]="form.disabled" [disabled]="form.invalid" class="button is-primary is-medium is-fullwidth" type="submit">
          <span class="icon">
            <i class="fas fa-fw fa-pizza-slice"></i>
          </span>
          <strong>Impastami</strong>
        </button>
      </div>
    </div>

  </form>
</div>
