/* You can add global styles to this file, and also import other style files */

$primary: hsl(9, 71%, 50%);
$link: $primary;
$footer-background-color: $primary;
$family-sans-serif:"Varela Round";

@import "bulma/bulma";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
